*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Albert Sans', sans-serif;	
}

/* INÍCIO ESTILZAÇÃO DO HEADER*/ 
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #000;
}
header div img{
	width: 100px;
	margin-top: 10px;
	padding-left: 20px;
}
nav{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
nav ul{
	display: flex;
	font-size: 17px;
	gap: 25px;
	position: relative;
	
}
nav ul li{
	margin-left: 20px;
	list-style-type: none;
	align-items: center;
	background: #000;
	border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  display: flex;
  height: 45px;
	justify-content: center;
	position: relative;
	transition: 0.5s;
	width: 60px;
}
nav ul li:hover{
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
	width: 150px;
}
nav ul li::before{
	border-radius: 60px;
	content: '';
	inset: 0;
	opacity: 0;
	position: absolute;
	transition: 0.5s;
}
nav ul li:hover::before{ opacity: 1; }
nav ul li::after{
	background: linear-gradient(45deg, var(--i), var(--j));
	content: '';
	filter: blur(15px);
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 20px;
	transition: 0.5s;
	width: 100%;
	z-index: -1;
}
nav ul li:hover::after{ opacity: 0.5; }
nav ul li ion-icon{
	color: #FFD700;
	font-size: 1.75rem;
	transition: 0.5s;
}
nav ul li:hover ion-icon{
	color: Yellow;
	transform: scale(0);
	transition-delay: 0;
}
nav ul li span{ position: absolute; }
nav ul li .text{
	color: Yellow;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	transform: scale(0);
	transition-delay: 0s;
	transition: 0.5s;
}
nav ul li:hover .text{
	transform: scale(1);
	transition-delay: 0.25;
}
/* FIM HEADER */

/* INÍCIO ESTILIZAÇÃO SEÇÃO HOME*/
.section-home{
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #000; 
}
.imagem-home img{
	width: 800px;
	margin-right: 40px;
	text-align: center;
}
.nome-petshop{
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	position: absolut;
	color: #fff;
	text-align: center;
	margin-left: 50px;
}
.nome-petshop h2{
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 400;
	color:#F0E68C;
}
.nome-petshop h1{
	font-size: 100px;
	margin-bottom: 10px;
	color: yellow;
}
.nome-petshop h3{
	font-size: 30px;
	font-weight: 400;
	color: 	#F0E68C;
}
/* FIM SEÇÃO HOME */

/* INÍCIO ESTILIZAÇÃO SEÇÃO PRODUTOS */
.section-produtos{
	background-color: #1d1d1d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.titulo-produtos{
	margin-top: 30px;
}
.section-produtos h2{
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
	text-align: start;
}

.underline{
	background-color: yellow;
	width: 80px;
	height: 4px;
	margin:5px auto 20px auto;
}
.container-produtos{
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin-top: 50px;
}
.item-produto{
	width: 250px;
	color: #ffe229;
	text-align: center;
	margin-left: 30px;
	background-color: #212121;
	padding: 20px;
	border: 1px solid #333333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.item-produto:hover .botao{
	opacity: 1;
	height: 100%;
}
.item-produto .botao{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	bottom: 0;
	width: 100%;
	height: 0%;
	background-color: rgba(0,0,0,0.7);
	opacity: 0;
	transition: 0.7s ease;
	text-decoration: none;
}
.btn{
	padding: 7px 10px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	background-color: #F1E42D;
	font-size: 16px;
}
.btn ion-icon{
	font-size: 23px;
	margin-bottom: -6px;
}
.titulos{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
}
.item-produto span{
	font-size: 13px;
	margin-bottom: 20px;
	color:#F0E68C;
}
.item-produto strong{
	font-size: 50px;
	color: #ffe229;
}
/* FIM SEÇÃO PRODUTOS*/

/* INÍCIO ESTILIZAÇÃO SEÇÃO SOBRE-NOS */
.section-sobre-nos{
	width: 100%;
	background-color: #212121;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.section-sobre-nos h2{
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
}
.section-sobre-nos .underline{
	background-color: yellow;
	width: 80px;
	height: 3px;
	margin: 10px 0 20px 5px;
}
.descricao-ale{
	display: flex;
	width: 80%;
	margin: 0 auto;
	align-items: center;
}
.carrossel{
	overflow: hidden;
	height: 400px;
	width: 500px;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.txt-descrição{
	color: #F0E68C;
	width: 50%;
	letter-spacing: 1px;
	line-height: 25px;
	font-size: 20px;
	padding-left: 50px;
}
.galery{
	display: flex;
	width: 100%;
}
.galery img{
	object-fit: cover;
	border-radius: 5px;
	height: 400px;
	width: 400px;
}
/* FINAL SEÇÃO SOBRE-NOS */

/* INÍCIO ESTILIZAÇÃO SEÇÃO DEPOIMENTOS */
.section-depoimentos{
	background-color: #000;
	padding: 20px;
	color: #000;
	text-align: center;
}
.section-depoimentos h1{
	text-align: center;
	font-size: 50px;
	color: yellow;
	margin-bottom: 30px;
}
.container-depoimentos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.container-depoimentos img{
	margin-bottom: 10px;
}
.container-depoimentos h3{
	margin-bottom: 10px;
}
.item-depoimentos{
	background-color: #ffef81;
	margin-left: 20px;
	padding: 20px;
	width: 300px;
	border-radius: 10px;
	box-shadow: rgba(255,239,129, 0.3) 0px 2px 8px 0px;
	margin-bottom: 20px;
}


.section-contatos{
	width: 100%;
	position: relative;
	height: 400px;
}
.section-contatos h2{
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	color: #ffe229;
	margin-top: -150px;
	position: relative;
}
.custom-shape-divider-top-1666787432 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}


.custom-shape-divider-top-1666787432 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

.custom-shape-divider-top-1666787432 .shape-fill {
	fill: #000;
}
