*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Albert Sans', sans-serif;	
}

/* INÍCIO ESTILZAÇÃO DO HEADER*/ 
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #000;
}
header div img{
	width: 100px;
	margin-top: 10px;
	padding-left: 20px;
}
nav{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
nav ul{
	display: flex;
	font-size: 17px;
	gap: 25px;
	position: relative;
	
}
nav ul li{
	margin-left: 20px;
	list-style-type: none;
	align-items: center;
	background: #000;
	border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  display: flex;
  height: 45px;
	justify-content: center;
	position: relative;
	transition: 0.5s;
	width: 60px;
}
nav ul li:hover{
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
	width: 150px;
}
nav ul li::before{
	border-radius: 60px;
	content: '';
	inset: 0;
	opacity: 0;
	position: absolute;
	transition: 0.5s;
}
nav ul li:hover::before{ opacity: 1; }
nav ul li::after{
	background: linear-gradient(45deg, var(--i), var(--j));
	content: '';
	filter: blur(15px);
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 20px;
	transition: 0.5s;
	width: 100%;
	z-index: -1;
}
nav ul li:hover::after{ opacity: 0.5; }
nav ul li ion-icon{
	color: #FFD700;
	font-size: 1.75rem;
	transition: 0.5s;
}
nav ul li:hover ion-icon{
	color: Yellow;
	transform: scale(0);
	transition-delay: 0;
}
nav ul li span{ position: absolute; }
nav ul li .text{
	color: Yellow;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	transform: scale(0);
	transition-delay: 0s;
	transition: 0.5s;
}
nav ul li:hover .text{
	transform: scale(1);
	transition-delay: 0.25;
}
/* FIM HEADER */

/* INÍCIO ESTILIZAÇÃO SEÇÃO HOME*/
.section-home{
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #000; 
}
.imagem-home img{
	width: 800px;
	margin-right: 40px;
	text-align: center;
}
.nome-petshop{
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	position: absolut;
	color: #fff;
	text-align: center;
	margin-left: 50px;
}
.nome-petshop h2{
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 400;
	color:#F0E68C;
}
.nome-petshop h1{
	font-size: 100px;
	margin-bottom: 10px;
	color: yellow;
}
.nome-petshop h3{
	font-size: 30px;
	font-weight: 400;
	color: 	#F0E68C;
}
/* FIM SEÇÃO HOME */

/* INÍCIO ESTILIZAÇÃO SEÇÃO PRODUTOS */
.section-produtos{
	background-image: url('../images/pp-bg.jpg');
	background-color: rgba(0,0,0,0.9);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #000; /* #ebc83a */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.section-produtos h1{
	margin-top: 30px;
	font-size: 50px;
	color: yellow;
}
.slider-container{
	max-width: 1200px;
	width: 100%;
	padding: 25px;
}
.slide-content{ margin: 0 40px; }
.card{
	border-radius: 10px;
	max-width: 300px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	cursor: pointer;
	background-color: #fffb94;
}
.card div:not(:first-child){ padding: 20px; }
.image-content{
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	max-height: 200px;
	background-color: #ffec50;
}
 .image-content img{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	border-radius: 10px 10px 0 0;
}
.titulo-anuncio{
	font-size: 13px;
	font-weight: bold;
}
.dados-compra{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dados-compra span{
	font-size: 20px;
	font-weight: bold;
}
.dados-compra button{
	padding: 10px;
	background-color: #32CD32;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 10px;
}
.send-outline{
	font-weight: bold;
	margin-bottom: -2px;
	font-size: 15px;
}
/* FIM SEÇÃO PRODUTOS*/

/* INÍCIO ESTILIZAÇÃO SEÇÃO PRODUTOS */
.section-sobre-nos{
	width: 100%;
}
.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.titulo .static-txt{
	color:#000;
	font-size: 60px;
	font-family: 400;
	text-align: center;
}
.section-sobre-nos .titulo .dinamic-txts{
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}
.dinamic-txts li{
	list-style: none;
	color: #fead26;
	font-size: 60px;
	font-weight: bold;
	position: relative;
	top: 0;
	animation: slide 12s steps(4) infinite;
}
@keyframes slide{
	100% { top: -360px }
}
.dinamic-txts li span{
	position: relative;
	margin: 5px 0;
	line-height: 90px;
}
.dinamic-txts li span::after{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-left: 3px solid gold;
	animation: typing 3s steps(10) infinite;
}
@keyframes typing{
	40%, 60%{
		left: calc(100% + 30px);
	}
	100%{
		left: 0;
	}
}