*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Albert Sans', sans-serif;	
}

/* INÍCIO ESTILZAÇÃO DO HEADER*/ 
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #000;
}
header div img{
	width: 100px;
	margin-top: 10px;
	padding-left: 20px;
}
nav{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
nav ul{
	display: flex;
	font-size: 17px;
	gap: 25px;
	position: relative;
	
}
nav ul li{
	margin-left: 20px;
	list-style-type: none;
	align-items: center;
	background: #000;
	border-radius: 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  display: flex;
  height: 45px;
	justify-content: center;
	position: relative;
	transition: 0.5s;
	width: 60px;
}
nav ul li:hover{
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
	width: 150px;
}
nav ul li::before{
	border-radius: 60px;
	content: '';
	inset: 0;
	opacity: 0;
	position: absolute;
	transition: 0.5s;
}
nav ul li:hover::before{ opacity: 1; }
nav ul li::after{
	background: linear-gradient(45deg, var(--i), var(--j));
	content: '';
	filter: blur(15px);
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 20px;
	transition: 0.5s;
	width: 100%;
	z-index: -1;
}
nav ul li:hover::after{ opacity: 0.5; }
nav ul li ion-icon{
	color: #FFD700;
	font-size: 1.75rem;
	transition: 0.5s;
}
nav ul li:hover ion-icon{
	color: Yellow;
	transform: scale(0);
	transition-delay: 0;
}
nav ul li span{ position: absolute; }
nav ul li .text{
	color: Yellow;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	transform: scale(0);
	transition-delay: 0s;
	transition: 0.5s;
}
nav ul li:hover .text{
	transform: scale(1);
	transition-delay: 0.25;
}
/* FIM HEADER */

/* INÍCIO ESTILIZAÇÃO SEÇÃO HOME*/
.section-home{
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #000; 
}
.imagem-home img{
	width: 800px;
	margin-right: 40px;
	text-align: center;
}
.nome-petshop{
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	position: absolut;
	color: #fff;
	text-align: center;
	margin-left: 50px;
}
.nome-petshop h2{
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 400;
	color:#F0E68C;
}
.nome-petshop h1{
	font-size: 100px;
	margin-bottom: 10px;
	color: yellow;
}
.nome-petshop h3{
	font-size: 30px;
	font-weight: 400;
	color: 	#F0E68C;
}
/* FIM SEÇÃO HOME */

/* INÍCIO ESTILIZAÇÃO SEÇÃO PRODUTOS */
.section-produtos{
	background-color: #1d1d1d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.titulo-produtos{
	margin-top: 30px;
}
.section-produtos h2{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
}

.underline{
	background-color: yellow;
	width: 60px;
	height: 4px;
	margin: 5px auto 0 auto;
}
.container-produtos{
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin-top: 50px;
}
.item-produto{
	width: 250px;
	color: #ffe229;
	text-align: center;
	margin-left: 30px;
	background-color: #212121;
	padding: 20px;
	border: 1px solid #333333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
}
.item-produto h2{
	margin-bottom: 20px;
	margin-top: -5px;
}
.titulos{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
	text-align: center;
}
.item-produto span{
	font-size: 13px;
	margin-bottom: 20px;
	color:#F0E68C;
}
.item-produto button{
	padding: 10px;
	width: 120px;
	box-shadow: inset 0 0 0 0 #333333;
	transition: ease-out 0.4s;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333333;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	outline: none;
	text-transform: capitalize;
	background-color: #efe669;
}
.item-produto strong{
	font-size: 50px;
	color: #ffe229;
}

/* FIM SEÇÃO PRODUTOS*/

/* INÍCIO ESTILIZAÇÃO SEÇÃO SOBRE-NOS */
.section-sobre-nos{
	width: 100%;
	background-color: #212121;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.section-sobre-nos h2{
	margin-top: 30px;
	font-size: 35px;
	font-weight: 400;
	color: #ffe229;
}
.descricao-ale{
	display: flex;
	width: 90%;
	justify-content: space-around;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 50px;
}
.carrossel{
	overflow: hidden;
	height: 400px;
	width: 400px;
	border-radius: 3px;
}
.txt-descrição{
	background-color: #212121;
	padding: 20px;
	border: 1px solid #333333;
	color: #F0E68C;
	text-align: center;
	width: 50%;
	letter-spacing: 1px;
	line-height: 25px;
	font-size: 20px;
	padding: 20px;
}
.galery{
	display: flex;
	transition: transform 0.5s ease-in-out;
	transform: translate(0);
	width: 100%;
}
.galery img{
	object-fit: cover;
	height: 400px;
	width: 400px;
}
/* FINAL SEÇÃO SOBRE-NOS */

/* INÍCIO ESTILIZAÇÃO SEÇÃO DEPOIMENTOS */
.section-depoimentos{
	background-color: #000;
	padding: 20px;
	color: #000;
	text-align: center;
}
.section-depoimentos h1{
	text-align: center;
	font-size: 50px;
	color: yellow;
	margin-bottom: 30px;
}
.container-depoimentos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.container-depoimentos img{
	margin-bottom: 10px;
}
.container-depoimentos h3{
	margin-bottom: 10px;
}
.item-depoimentos{
	background-color: #ffef81;
	margin-left: 20px;
	padding: 20px;
	width: 300px;
	border-radius: 10px;
	box-shadow: rgba(255,239,129, 0.3) 0px 2px 8px 0px;
	margin-bottom: 20px;
}